<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  
  <div class="container">
  <div class="notification">

<% flash[:errors].each do |error| %> 
  <h4 style="color: red;"> 
  <%= error %> 
  </h4> 
<% end %> 

<div class="cocktails">
<%= form_for @cocktail do |f|%>
<%=f.label "Name: "%>
<%= f.text_field :name%><br>
<br>
<%= f.label "Calories: " %> 
<%= f.number_field :calories %> <br>
<br>
<%=f.label "Instructions: "%>
<%= f.text_area :instructions%><br>
<br>
<%=f.label "Description: "%>
<%= f.text_area :description%><br>
<br>
  <select name="cocktail[difficulty]">
    <option>Easy</option>
    <option>Medium</option>
    <option>Hard</option>
  </select>
<br>
<%=f.label "Picture URL: "%>
<%= f.text_area :picture%><br>
</div>

<h2> Select your Garnishes: </h2> 
<%= f.collection_check_boxes( :garnish_ids, Garnish.all, :id, :name) do |b| %>
  <%= b.label(class:"checkbox") { b.check_box + b.text } %><br>
<%end%>

  <%= f.fields_for :garnishes, @cocktail.garnishes.build do |garnishes_fields| %>
    <h3> Or create a new garnish: </h3>
    <%= garnishes_fields.text_field :name %>
    <br>
    <br>
    <%= f.label "Is it edible?"%>
  <%= garnishes_fields.check_box :edible %>
    <%end %>
<br>


<h2> Select your Mixers: </h2>

<%= f.collection_check_boxes :mixer_ids, Mixer.all, :id, :name %><br>
<br>

  <%= f.fields_for :mixers, @cocktail.mixers.build do |mixers_fields| %>
    <h3> Or create a new mixer: </h3>
    <%= f.label "Name: "%>
    <%= mixers_fields.text_field :name %><br>
    <br>
 
  <select name="cocktail[mixers_attributes][0][sweet_sour]">
    <option>Sweet</option>
    <option>Sour</option>
  </select>
    <%end %>
<br>

<h2> Select your Alcohols: </h2>
<%= f.collection_check_boxes :alcohol_ids, Alcohol.all, :id, :name %><br>
<br>

<%= f.fields_for :alcohols, @cocktail.alcohols.build do |alcohols_fields| %>
    <h3> Or create a new Alcohol: </h3>
    <%= f.label "Name: "%>
    <%= alcohols_fields.text_field :name %><br>
    <br>
    <%= f.label "Colour: "%>
    <%= alcohols_fields.text_field :colour  %><br>
    <br>
    <%= f.label "Content: "%>
    <%= alcohols_fields.number_field :alcohol_content  %><br>
    <%end %>
<br>


<h3> Which User are you? </h3>

  <%= f.collection_select :user_name, User.all, :name, :name,  include_blank: true %>

<%= f.submit %> 

<% end %> 
</div>
</div>

  </body>
</html>

