<%@cocktails.all.sort_by(&:name).each do |cocktail|%>

<div class="card">
  <img src=<%= cocktail.picture %> alt=<%= cocktail.name %> style="width:100%">
  <h1><%= cocktail.name %></h1>
  <p class="title"> <%= cocktail.user.name %> </p>
  <p><button><%=link_to "View Cocktail", cocktail, :class => "cocktail-button"%></button></p>
</div>

    <%end%>



