    <div class="card2">
      <img src=<%= @cocktail.picture %> alt=<%= @cocktail.name %> style="width:100%">
      <h1><%= @cocktail.name %></h1>
      <p class="title2"> Made by: <p>
      <p class="title"> <%= link_to @cocktail.user.name, @cocktail.user %> </p>
      <p class="title2"> Calories: </p>
      <p class="title"> <%= @cocktail.calories %> </p>
      <p class="title2"> Difficulty: </p>
      <p class="title"> <%= @cocktail.difficulty %> </p>
      <p class="title2">Description: </p>
      <p class="title"> <%= @cocktail.description %> </p>
      <p class="title2">Instructions: </p>
      <p class="title"><%= @cocktail.instructions %> </p>
      <p class="title2"> Mixer/s this cocktail contains: </p>
        <p>
        <% @cocktail.mixers.each do |mixer| %> 
            <%= link_to mixer.name, mixer_path(mixer) %> <p>
         <% end %>   
        <p class="title2"> Garnish/es this cocktail contains: </p>
         <p>
         <% @cocktail.garnishes.each do |garnish| %> 
             <%= link_to garnish.name, garnish_path(garnish) %> <p>
          <% end %>  
        <p class="title2"> Alcohol/s this cocktail contains: </p>
             <p>   
             
         <% @cocktail.alcohols.each do |alcohol| %> 
             <%= link_to alcohol.name, alcohol_path(alcohol) %> <p>
          <% end %>   
       
      <p><button><%=link_to "All Cocktails", cocktails_path, :class => "cocktail-button"%></button> 
      
      <% if current_user.id == @cocktail.user.id %>
      
     <button> <%= link_to "Edit", edit_cocktail_path, method: :get %> </button> 

<br>

    <button><%= link_to "Delete", @cocktail, method: :delete %></button> 

<br>
<%end%> 

<button><%= link_to "Click here for a random cocktail!", @cocktails.sample , :method => :get %>
</h4></button> 

<br>
      </p>
    </div>





