<h1> <%= @cocktail.name %> </h1>
<p> Made by: <%= @cocktail.user.name %> 

<img src=<%= @cocktail.picture %>>


<p> Calories: <%= @cocktail.calories %> </p>
<p> Difficulty: <%= @cocktail.difficulty %> </p>

Mixer/s this cocktail contains: 
<ul>
<% @cocktail.mixers.each do |mixer| %> 
    <li> 
    <%= link_to mixer.name, mixer_path(mixer) %>
    </li> 


<% end %> 
</ul>    

Garnish/es this cocktail contains: 
<ul>
<% @cocktail.garnishes.each do |garnish| %> 
    <li> 
    <%= link_to garnish.name, garnish_path(garnish) %>
    </li> 
<% end %> 
</ul>    


Alcohol/s this cocktail contains: 
<ul>
<% @cocktail.alcohols.each do |alcohol| %> 
    <li> 
    <%= link_to alcohol.name, alcohol_path(alcohol) %>
    </li> 
<% end %> 
</ul>    


Description: <%= @cocktail.description %> 
<br> 
<br> 
Instructions: <%= @cocktail.instructions %> 
<% if current_user.id == @cocktail.user.id %>
<%= button_to "Edit", edit_cocktail_path, method: :get %> 

<br>

<%= button_to "delete", @cocktail, method: :delete %>

<br>
<%end%> 

<h4>Click here for a random cocktail!<%= button_to "Show me the cocktail", @cocktail, :method => :get %>
</h4>
<li>
<% cocktail = Cocktail.all.sample %> 
<%=link_to cocktail.name, cocktail_path(cocktail)%>
</li>
<br>

