<br>
<br>

<div class="card2">

<h1><%= @garnish.name %></h1>
<p class="title2"> Edible: </p>
<p class="title"> <%= if @garnish.edible; "Yes"; else; "No" end %> </p>
<p class="title2">Cocktails that contain this garnish: </p>
    <% @garnish.cocktails.each do |cock| %> 
   <p class="title"><%= link_to "#{cock.name} by #{cock.user.name}", cocktail_path(cock) %>
<% end %> 
  


<p><button><%=link_to "All Cocktails", cocktails_path, :class => "cocktail-button"%></button> 


<button><%= link_to "Click here for a random cocktail!", all_cocktails.sample , :method => :get %>
</h4></button> 

<br>
</p>
</div>





