<h1> <%= @alcohol.name %> </h1>

<p> Percentage: <%= @alcohol.alcohol_content %> </p>

<p> Colour: <%= @alcohol.colour %> </p> 

Cocktails that contain this alcohol: 
<ul>
<% @alcohol.cocktails.each do |cock| %> 
    <li> 
    <%= link_to "#{cock.name} by #{cock.user.name}", cocktail_path(cock) %>
    </li> 
<% end %> 
</ul>    

<h4>Click here for a random cocktail containing this alcohol!<%= button_to "Show me the cocktail", @alcohol, :method => :get %><br>
</h4>


<li>
<% cocktail = @alcohol.cocktails.sample %> 
<%=link_to cocktail.name, cocktail_path(cocktail)%>
</li>